<head>
<title>my first webpage!</title>
<link href="css/stles.css" rel="stylesheet" type="text/css"
</head>
h1 (
  colour: blue;
  text-align: center;
  )
  h2(
    colour: green;
    font-style: italic;
    text-allign; center;
    )
    p(
      font-family: scans-serif
      )
      ul(
        line-height: 40px;
        )
